<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_tree_path(@tree) %> |<%= link_to 'Trees', trees_path %>
<p>
  <strong>Name:</strong>
  <%= @tree.name %>
</p>

<p>
  <strong>Care:</strong>
  <%= @tree.care %>
</p>
