<%= form_with(model: herb, local: true) do |form| %>
  <% if herb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(herb.errors.count, "error") %> prohibited this herb from being saved:</h2>

      <ul>
      <% herb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p style=" font-size: 18px; width: 70%;">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :herb_name, size: "60x20" %>
    </div>
  </p>

  <p style=" font-size: 18px; width: 70%; height: 20%;">
    <div class="field">
      <%= form.label :care %>
      <%= form.text_area :care, id: :herb_care, size: "60x20"%>
    </div>
  </p>

  <p style=" font-size: 18px; width: 70%;">
    <div class="field">
      <%= form.label :picture %>
      <%= form.file_field :picture, id: :herb_picture %>
    </div>
  </p>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>
