<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_herb_path(@herb) %> |
<%= link_to 'Herbs', herbs_path %>
<p>
  <strong>Name:</strong>
  <%= @herb.name %>
</p>

<p>
  <strong>Care:</strong>
  <%= @herb.care %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @herb.picture_url, size:600 if @herb.picture.present? %>
</p>
